.wholebody {
    background-color: rgb(245, 250, 245);
    padding-bottom: 60px;
}
.top .fa:hover {
    color: white;
    /* opacity: 0.6; */
    background-color: rgb(95, 95, 255);
    text-decoration:none;
    transition: 1s;
    border-radius: 5px;
}
.fa {
    /* background: #3B5998; */
    background-color:#005dab;
    color: white;}  
.fa {
    padding: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration-line: none; 
}      
.top{
    background-color:#005dab;
    padding: 5px 50px 0px 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 
.top .icons ul{
    /* background-color: lawngreen; */
    display: inline-block;
    /* list-style-type: none; */
    padding: 5px 0px 0px 0px;
    /* padding: 0px 40px 0px 40px; */
}
.top .icons li{
    display: inline-block;
    width: 35px;
}

.top .p{
    /* background-color: lightcoral; */
    /* display: inline-block; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    padding: 10px 0px 0px 0px;
    text-align: center;
    font-weight: 100;
}

.button{
     /* display: inline-block; */
    padding: 5px 0px 0px 0px
;
}
.button .bu{
    height: 30px;
    font-size: 12px;
    color: rgb(8, 100, 100);
    border:1px solid rgb(8, 100, 100);
    cursor: pointer;   
}
/* 2nd container */
.second {
    display: flex;
    justify-content: space-around;
    background-color: rgb(245, 250, 245);
    /* flex-wrap: wrap; */
}
.saylani-logo{
    /* display: inline-block; */
    margin: 5px 0px 5px 0px;
}
#nav .fa {
    background-color: transparent;
    color: black;
}
#nav ul .fa {
    float: right;
    font-size: 15px;
}
#nav li a:hover .fa {
    color: white;
} 
.home {
    /* display: inline-block; */
    border-radius: 30px;
    color: white;
    display:block;
    /* text-decoration:none; */
    padding: 0;
    line-height:35px; /* this is the hieght of the menu items */
    padding-left: 10px; /*this is the width of the menu items */
    padding-right: 10px;
    background-color: #005dab;
}

#nav {
    list-style:none inside;
    margin:0;
    padding:0;
    /* text-align:center; */;
}
#nav li {
    display:block;
    position:relative;
    float:left;
}    
#nav ul li {    
    background:white; /*sublists menu background color */
}
.nav >li, .nav-a {
    border-radius: 30px;
}

#nav .nav {
    /* text-align: center; */
    margin-top: 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
}
#nav li .nav-a{
    display:block;
    text-decoration:none;
    padding:0;
    line-height:35px; /* this is the hieght of the menu items */
    padding-left: 10px; /*this is the width of the menu items */
    padding-right: 10px;
    /* border-radius: 20px; */
    color:black;
}
#nav li li a {
    display:block;
    padding:0;
    text-decoration:none;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px; /*this is the width of the menu items */
    line-height:35px; /* this is the hieght of the menu items */
    color: grey; /* list item font color */
    font-size:12px;
}
#nav li:hover {
    background:#005dab;
}
#nav li:hover >a {
    color: white;
}
#nav li:hover >a .fa {
    color: white;
}
/* #nav li li a {font-size:80%;} smaller font size for sub menu items */
#nav li a:hover {
    /* border-radius: 0px; */
    background:#005dab;
    color: white;
    text-decoration: none;
} 
    
#nav ul a:hover {
    padding-left: 20px;
    transition: 0.5s;
        /* padding-top: -5px; */
}
#nav ul {
    font-size: 12px;
    font-weight: 500;
    position:absolute;
    padding:0;
    left:0;
    display:none; /* hides sublists */
}
#nav li:hover ul ul {display:none;} /* hides sub-sublists */
#nav li:hover ul {
    display:block; /* shows sublist on hover */
    padding-top: 16px;  
}    
#nav li li:hover ul ul {display: none;}
#nav li li li:hover ul{display: block;}
#nav li li:hover ul {
    display:block; /* shows sub-sublist on hover */
    margin-left:200px;/* this should be the same width as the parent list item */
    margin-top:-51px;   /*aligns top of sub menu with top of list item */
}


#span{
    background-color:#005dab ;
    height: 25px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 3px 0px 2px 0px;
    font-size: 14px;
    color: white;
}
/* container three */

.intro{
    font-family:  Georgia, Times, 'Times New Roman', serif;
    color:#005dab;
    text-align: center;
    font-weight: 550;
    padding-top: 60px;
    
}
.duction{
    color: rgb(3, 105, 3);
}
.favi{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.third {
    width: 840px;
    line-height: 26px;
    color: grey;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    font-size: 16px;
    text-align: justify;
}
@media only screen and (max-width: 840px){
    .third{
        width: 96%;
    }
}


.fourth {
    background-color: blue;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 30px 70px 30px;
}
.fourth div{
    padding: 60px 30px 00px 30px;
    width: 300px;
    text-align: center;
    color: white;
}

.number {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 30px;
}
.food {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
}
.de {
    padding-bottom: 20px;
}
.monthly {
    color:greenyellow;
    font-size: 18px;
}
.fifth div{
    margin-top: 30px;
    height: 170px;
    width: 350px;
    text-align: center;
    font-family:  Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    background-color: white;
    padding: 30px 0px 30px 0px;
    color: blue;
    /* -moz-box-shadow: 0 0 10px #777777; */
    /* -webkit-box-shadow: 0 0 10px #777777; */
    box-shadow: 0 0 15px #cfcfcf;
}
@media only screen and (max-width:800px) {
    .fifth div{
        width:95%;
    }
}    


.fifth {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media only screen and (max-width:1150px) {
    .fifth{
        width:100%;
    }
}
.fifth img{
    padding-bottom: 20px;
}
.mission {
    width: 700px;
    font-size: 15px;

}
@media only screen and(max-width:800px){
    .mission {
        width: 96%;
    }
}
.sixth {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sixth div{
    height: 70px;
    width: 330px;
    border: 1px solid rgb(207, 205, 205);
    font-family:  Georgia, Times, 'Times New Roman', serif;
    color: blue;
    font-weight: bold;
    background-color:rgb(245, 250, 245) ;
    padding-top: 5px;
    margin-top: 20px;
}

.sixth img{
    margin: 15px 15px 15px 15px;
    width: 30px;
}
.upcoming-events{
    display: inline;
    margin-top: 30px;
    width: 330px;
    height: 300px;
    overflow: hidden;
    padding-right: 60px;
    color: grey;
    font-size: 14px ;
}
.six {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 1150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media only screen and (max-width:1150px){
    .six{
        width:96%
    }
}

.six h5{
    color: blue;
    font-family:  Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.gallery{
    margin-top: 30px;
    text-align: center;
}

/* contact container */
.contact-block {
    background-color: rgb(33, 33, 44);
}
.contact {
    margin: 80px 0px 0px 0px;
    padding: 70px 0px 70px 0px;
    display: flex;
    flex-wrap: wrap;
    color: white;
}
.contact .one .fa {
    color: green;
    background-color: transparent;
    font-size: 16px;
}
.contact .one {
    margin-top: 30px;
    margin-bottom: 30px;/
    width: 350px;
    font-size: 14px;
    width: 380px;
    color: rgb(180, 166, 166);
}
.contact .two  {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    font-family:  Georgia, Times, 'Times New Roman', serif;
}

.contact .two .fa:hover {
    border-radius: 50px;
    color: white;
    text-decoration: none;
}
.contact .fa {
    border-radius: 50px;
}

.two-2 a{
    margin: 0px 3px 0px 3px;
}

.two-1, .two-2 {
    width: 300px;
    height: 50px;
    font-family:  Georgia, Times, 'Times New Roman', serif;
} 

.contact-body {
    background-color: rgb(22, 21, 21);
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    border: 1px solid rgb(241, 236, 236);
}

.top-button {
    position:fixed;
    bottom: 20px;
    right: 20px;
    background-color:rgba(87, 86, 86, 0.2);
    padding: 0px 0px 0px 0px;
}
.fa-angle-up {
    padding-top: 3px;
    width: 50px;
    height: 50px;
    font-size: 40px;
    color: white;
    background-color:transparent;
}
.fa-angle-up:hover {
    color: white;
    text-decoration: none;
    background-color:rgba(87, 86, 86, 0.8) ;
}

.bottom {
    color: white;
    background-color: rgb(70, 70, 248);
    line-height: 40px;
    font-size: 12px;
}
